<nav class="navbar navbar-expand navbar-dark bg-dark px-3" *ngIf="account">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" routerLink="/profile">Profile</a>
        <a class="nav-item nav-link" routerLink="/admin" *ngIf="account.role === 'Admin'">Admin</a>
    </div>
    <div class="navbar-nav ms-auto">
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>
<div class="container pt-4">
    <alert></alert>
    <router-outlet></router-outlet>
</div>